@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Cinzel:900|Roboto:400|Open+Sans');
html {background-image: url(https://static.pexels.com/photos/111147/pexels-photo-111147.jpeg);  		
	background-repeat: no-repeat;
	background-size:150%;
	margin:20 4 20;
}


header {
    text-align: left;
    font-family: 'Cinzel', serif;
    font-size: 3.92em;
    letter-spacing: .3em;
    margin-bottom: 0;
    color: #8B4513;
}

#banner{
	background-color:rgba(192,192,192,0.5);
}

h2 {
    color: #8B4513;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 1.75em;
    font-style: italic;
    margin-top: 0em;
    letter-spacing: .375em;
}
div.image{
	content:none;
}
nav {
    position: relative;
    margin: auto;
    width: 100%;
    font-family: Roboto;
    font-size: 1.75em;
    vertical-align: top;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.navspacing{padding: .313em;
	margin:.75em 1.25em .75em;
}

#right {
    float: right;
    list-style: none;
    text-align: center;
    margin-right: 3em;
    margin-bottom: 4.688em;
    border: 4em;
    padding-right: 2.875em;
    width: 99%;
    color: #32673f;
}
  #right:hover{
  	color:#32673f;
  }

 

#left{
	float: left;
	width: 50%;
	font-family:Roboto;
	padding-right:5em;
}

#extra{
	width:0%;
	margin:0%;
}


a{
  	text-align: right;
	color:#32673f;
}

a:hover{
	color:#fff;
}

a:activate{
	color:#8B4513;
}
 footer{
 	position:fixed;
 	right:.313em;
 	bottom:5%;
 	font-family: Roboto;
  	text-align: right;
  	font-size: 1.25em;
 }
@media only screen and (max-width: 867px) {
	header{ font-size: 3.9em; 
		line-height: 1.25em:;
}

	nav{ 
		font-size: 1.5em;
}


 #right{
 	margin-left: 42px;
 	margin-right: 42px;
 	margin-bottom: 28px;
 	margin-top: 175px;
 }    

}

@media only screen and (max-width: 480px) {
	html{ background:none;

	}
	body{margin:3px;
		margin-top:6px;
	}
	header{ font-size:2.212em;
		text-align: center;
		margin-top:3px;
		margin-bottom: 3px;
	}
	h2{font-size: 1.35em;
		text-align: center;
		margin-top:3px;
		margin-bottom: 3px;

	}
	div.image{
		display: inline;
		float:left;
		content: url(https://static.pexels.com/photos/111147/pexels-photo-111147.jpeg);
		width:100%;
		margin:0em;
		margin-top: 3px;
	}
	.navspacing{
	
		padding:3px;
		margin: 0px;
		background-color: rgba(192,192,192,0.5);
		border: 5px solid white;
	}
	#right{ 
		margin: 0em;
		padding:0em;
		text-align: center;
		text-decoration: none;
	}


	footer{ 
		padding:3px;
		margin: 0em;
		position: relative;
		text-align: center; 
		font-size: 1.5em;
		background-color: rgba(192,192,192,0.5);
		border: 5px solid white;
		right:0em;
 		bottom:5%;
	}
	#left{
		margin: 0em;
		padding:0em;
		border:0em;
		width:0%;
		height: 0%;
	}
	
	a:link{
		text-decoration: none;
	}

	a:hover{
		color:#8B4513;
		text-decoration: none;
	}
}
