@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Cinzel:900|Roboto:400|Open+Sans');
html {background-image: url(https://static.pexels.com/photos/111147/pexels-photo-111147.jpeg);  		
	background-repeat: no-repeat;
	background-size:150%;
	margin:20 4 20;
}


header {
    text-align: left;
    font-family: 'Cinzel', serif;
    font-size: 3.92em;
    letter-spacing: .3em;
    margin-bottom: 0;
    color: #8B4513;
}

#banner{background-color:rgba(192,192,192,0.5);
}

h2 {
    color: #8B4513;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 1.75em;
    font-style: italic;
    margin-top: 0em;
    letter-spacing: .375em;
}

nav {
    position: fixed;
    background-image: url(https://static.pexels.com/photos/111147/pexels-photo-111147.jpeg)
 background-size: cover;
    margin: auto;
    width: 100%;
    font-family: Roboto;
    font-size: 1.75em;
    vertical-align: top;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.navspacing{padding: .313em;
	margin:.75em 1.25em .75em;
}

#right {
    float: right;
    list-style: none;
    text-align: center;
    margin-right: 3em;
    margin-bottom: 4.688em;
    border: 4em;
    padding-right: 2.875em;
    width: 99%;
    color: #32673f;
}
  #right:hover{
  	color:#32673f;
  }

 

#left{
	float: left;
	width: 50%;
	font-family:Roboto;
	padding-right:5em;
}




a{
  	text-align: right;
	color:#32673f;
}

a:hover{
	color:#fff;
}

a:activate{
	color:#8B4513;
}
 footer{
 	position:fixed;
 	right:.313em;
 	bottom:5%;
 	font-family: Roboto;
  	text-align: right;
  	font-size: 1.25em;
 }

 .about section {

 }

 nav div {
 	
 }